body{
	background: 		#c5c5c5;

}



.image { 
   position: 			relative;
   margin-right: 	50%;
   display: 			block;
   margin: 				0;
}

h1 {
  font-family:        'Oswald', sans-serif;
  position:           absolute; 
    top:              400px; 
    left:             0; 
    width:            100%; 
    text-align:       center;
    color:            #251942;
    letter-spacing:   5px;
}

h2 {
/*	font-family: 'Patrick Hand SC', cursive;
*/	font-family: 		'Mr Dafoe', cursive;

	position: 			    absolute; 
   	top: 				      400px; 
  	left: 				    0; 
  	width: 				    100%; 
  	text-align: 	    center;
  	color:				    #3f4c58;
  	letter-spacing: 	0px;

}


h3 {
  font-family:    'Oswald', sans-serif;
  letter-spacing: 2px;

}

h4 {
  font-family:      'Rock Salt', cursive;
  font-size:        100px;
  color:            white;
  text-align:       center;
  letter-spacing:   4px;
  position:         relative;
}
p {
    font-family:   'Roboto Slab', serif;

}



.c2{
  padding-left:     45px;
  padding-right:    45px;

}


.c2 h3 {
  font-family:   'Roboto Slab', serif;
  font-size:      20px;
  text-align:     left;
  margin-top:     0px;
  letter-spacing: 2px;
  padding:        20px 0px 5px 20px;
  color:          white;


}

.c2 p {
  font-family:    'Lato', sans-serif;
	font-size: 			15px;
	text-align: 		left;
	margin-top: 		0px;
  letter-spacing: 1px;
  padding:        0px 20px 20px 20px;
  color:          white;


}

.c4 h3{
  font-family:   'Roboto Slab', serif;
  font-size:      20px;
  text-align:     left;
  margin-top:     0px;
  letter-spacing: 2px;

  
}


#info {
	font-family: 'Roboto Slab', serif;

}

#info div{
	background-image:	url(images/prison.jpg);
}

.c4 .col-md-6 {
padding: 50px;
}

.c4 p {
  font-family:    'Lato', sans-serif;
  font-size:      15px;
  text-align:     left;
  margin-top:     20px;
  letter-spacing: 1px;
}


.c4 ol {
  font-family:    'Lato', sans-serif;
  font-size:      15px;
  text-align:     left;
  letter-spacing: 1px;
  padding-right:  90px;
  padding-left:   90px;
}

.c4 li {
  font-family:    'Lato', sans-serif;
  font-size:      15px;
  text-align:     left;
  margin-top:     20px;
  letter-spacing: 1px;
  padding:        10px;
}

.padding1 li {
  font-family:    'Lato', sans-serif;
  font-size:      15px;
  text-align:     left;
  margin-top:     10px;
  margin-bottom:  10px;
  letter-spacing: 1px;
  padding-bottom: 0px;
}


.footnote {
  display:        none;
  background:     white;
  color:          black;
  font-family:    'Lato', sans-serif;
  font-size:      15px;
  padding:        10px;


}

.show li {
  display: none;
}

.expandable li {
  list-style-type: none;


}


/* http://www.color-hex.com/color-palette/22754  and http://www.color-hex.com/color-palette/5454*/


