body{
	background: 		#cccccc;

}


/*.nav{
	position: 			     absolute;
    right: 				     50px;
    margin-top: 			 20px;

}
 .nav ul {
    list-style-type: 	  	none;
    margin: 			    0;
    padding: 			    0;
    overflow: 			    hidden;
    background-color: 		#333;
    top: 				    0;
    width: 				    100%;
    position: 			    fixed;

}

.nav li {
    float: 				    left;
    border: 			    3px solid white;
    display:			    inline-block;
    border-spacing: 		0px;
    margin-right:		 	-3px;
    padding-right:			10px;
    padding-left:		  	10px;
    padding-top:		  	5px;
    padding-bottom:	  		5px;
   
}

.nav a {
  font-size: 			10px;
  font-family: 		    'Open Sans', sans-serif;
  color: 				black;
  list-style-type: 	  	none;
  display: 			    block;
  text-align: 		    center;
  padding: 			    14px 16px;
  text-decoration: 		none;

}*/

.image { 
   position: 			relative;
   margin-right: 		50%;
   display: 			block;
   margin: 				0;
}

h1 {
  font-family:        'Oswald', sans-serif;
  position:           absolute; 
    top:              400px; 
    left:             0; 
    width:            100%; 
    text-align:       center;
    color:            #3f4c58;
    letter-spacing:   5px;
}

h2 {
/*	font-family: 'Patrick Hand SC', cursive;
*/	font-family: 		'Mr Dafoe', cursive;

	position: 			    absolute; 
   	top: 				      400px; 
  	left: 				    0; 
  	width: 				    100%; 
  	text-align: 	    center;
  	color:				    #3f4c58;
  	letter-spacing: 	0px;

}


h3 {
  font-family:    'Oswald', sans-serif;
  letter-spacing: 2px;

}

h4 {
  font-family:      'Rock Salt', cursive;
  font-size:        100px;
  color:            white;
  text-align:       center;
  letter-spacing:   4px;
  position:         relative;
}
p {
    font-family:   'Roboto Slab', serif;

}



.c2{
  padding-left:     45px;
  padding-right:    45px;

}


.c2 h3 {
  font-family:   'Roboto Slab', serif;
  font-size:      20px;
  text-align:     left;
  margin-top:     0px;
  color:          black;
  letter-spacing: 2px;
  padding:        20px 0px 10px 20px;

}

.c2 p {
	font-family:   'Roboto Slab', serif;
	font-size: 			15px;
	text-align: 		left;
	margin-top: 		0px;
  letter-spacing: 2px;
  padding:        0px 20px 20px 20px;

}


#info {
	font-family: 'Roboto Slab', serif;

}

#info div{
	background-image:	url(images/prison.jpg);
}

.c4 .col-md-6 {
padding: 50px;
}

.c4 p {
  padding-top: 10px;
}

.footnote {
  display: none;

  text-align: center;
  background:     black;
  color:          white;
  width:          auto;

}

.show li {
  display: none;
}

/*-------------------- test----------------------------*/



/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
